@import "variables";

:host {
  font-size: $font-size;
  color: $color;
  border: $border;
  transition: $transition;

  .button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: $padding;

    .radio {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: $radio-margin;
      width: $radio-size;
      height: $radio-size;
      border: $border;

      &:after {
        content: '';
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        transition: $transition;
        background-color: $color;
      }
    }
  }

  .content {
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: $transition;

    .content-section {
      &:not(:last-child) {
        margin-bottom: $section-margin;
      }

      .title {
        font-weight: 500;
        margin-bottom: 5px;
      }
    }

    agm-map {
      width: 100%;
      height: 50vw;

      @media screen and (min-width: $max-screen-width) {
        height: $max-screen-width / 2;
      }
    }
  }

  &.checked {
    border: $checked-border;
    border-radius: $checked-border-radius;

    .button .radio {
      border: $checked-border;
      &:after {
        width: $checked-circle-size;
        height: $checked-circle-size;
      }
    }

    .content {
      max-height: 1000px;
      padding: $padding;
    }
  }
}
