@import "../../../assets/variables";

$border: solid 1px #919191;
$radio-size: 2.8rem;
$padding: 1.4rem;
$font-size: 14px;
$radio-margin: 0.8rem;

$checked-border: solid 2px #333333;
$checked-border-radius: 6px;
$checked-circle-size: $radio-size * 0.5;
