:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #FFFFFF;
  font-style: normal;

  h1 {
    margin: 0;
    font-size: 2rem;
    word-break: break-word;
  }

  .burger {
    display: flex;
    flex-direction: column;
    width: 16px;
    height: 16px;
    justify-content: space-between;
    cursor: pointer;

    .line {
      width: 100%;
      height: 3px;
      background-color: black;
      border-radius: 2px;
    }
  }

  .lang {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
  }
}
