@import "../../../assets/variables";

:host {
  display: flex;
  flex-direction: column;
  padding: 2rem $side-padding 4.6rem;
  background-color: #f0f0f0;

  .title-container {
    text-align: center;
    color: #393939;
    margin-bottom: 2.7rem;

    h2 {
      letter-spacing: 0.95px;
      font-weight: 500;
      font-size: 2rem;
      margin: 0 0 10px;
    }
  }

  [app-button]:not(.secondary):not(:last-child) {
    margin-bottom: 2rem;
  }

  .sub-buttons {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: $transition;

    &.active {
      max-height: 300px;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: $min-breakpoint) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: $max-screen-width) {
      gap: $max-screen-width * 0.03;
    }
  }
}
