@import "variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-size: $font-size;
  font-weight: $font-weight;
  padding: $padding;
  color: $color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $background-color;
  transition: $transition;

  &.icon {
    padding-left: $padding + $icon-size;
    [class^="icon-"], [class*=" icon-"] {
      font-size: $icon-size;
      position: absolute;
      left: $padding;
    }
  }

  &.active {
    background-color: $active-background-color;
    color: $active-color;
  }

  &.disabled {
    color: $disabled-color;
    cursor: default;
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  .content {
    span {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  &.with-sub-text {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  &.secondary {
    transition-duration: 0.1s;
  }

  &.submit {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
    border-radius: 0.6rem;
  }

  @media screen and (max-width: 300px) {
    &.icon {
      padding-top: $padding + $icon-size;
      padding-left: $padding;
      [class^="icon-"], [class*=" icon-"] {
        font-size: $icon-size * 0.9;
        top: $padding;
        left: auto;
      }
    }
  }
}
