@import "assets/main";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  font-family: 'Gotham', sans-serif;
  font-size: 62.5%;

  @media only screen and (max-width: 350px) {
    font-size: 55%;
  }

  @media only screen and (max-width: 300px) {
    font-size: 50%;
  }
}

.sub-title {
  font-size: 16px;
  letter-spacing: 0.8px;
  margin: 0;
}

